$purple: #5644fc;
$white: #fff;
$purple-text: #a3a1ff;
$dark-text: #15133d;
$light-purpl: #f5f4ff;
$red-button: #ff5353;
$purple-bg: #f5f4ff;

@mixin center-align {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

.white-box {
  border-radius: 20px;
  background: $white;
  box-shadow: 0px 4px 4px 0px rgba(163, 161, 255, 0.16);
      box-sizing: border-box;
}
.circle {
  background-color: $purple;
  border-radius: 50%;
}
.purple-block {
  background-color: $light-purpl;
  border-radius: 10px;
   box-sizing: border-box;
}
body {
  margin:0;
}